<!-- views/partials/navbar.ejs -->
<nav class="navbar">
    <div class="navbar-header">
      <button class="menu-toggle" id="menu-toggle">☰</button>
    </div>
    <ul class="nav--list" id="nav-list">
      <li class="item"><a href="/">Home</a></li>
      <li class="item"><a href="/about">About</a></li>
      <li class="item"><a href="/projects">Projects</a></li>
      <li class="item"><a href="/games">Games</a></li>
      <li class="item"><a href="/music">Music</a></li>
      <li class="item"><a href="/blog">Blog</a></li>
      <li class="item"><a href="/contact">Contact</a></li>
    </ul>
    <div class="active-box"></div>
  </nav>