<div class="desktop-container">

  <div class="large-window">
    <div class="title-bar">
      <span>HTML on Tumblr Blog</span>
      <div class="buttons">
        <div class="btn main-btn"></div>
        <div class="btn control-btn"></div>
        <div class="btn negative-btn"></div>
      </div>
    </div>
    <div class="content">
      <img src="/images/tumblr_blog.png" alt="Tumblr-Screenshot" class="project-image">
      <p class="project-description">
        Created when I was 14 or 15, this Tumblr blog features an Earthbound-inspired design and reflects my love for Nintendo. It was an early introduction to HTML and CSS, helping to spark my passion for web design and development. This project holds a nostalgic value and represents the early days of my journey.
      </p>
    </div>
  </div>

  <div class="large-window">
    <div class="title-bar">
      <span>Munch Recipe Social Media</span>
      <div class="buttons">
        <div class="btn main-btn"></div>
        <div class="btn control-btn"></div>
        <div class="btn negative-btn"></div>
      </div>
    </div>
    <div class="content">
      <img src="/images/Munch.png" alt="Munch Screenshot" class="project-image" %>
      <p class="project-description">
        Munch is a recipe-sharing social media platform designed to foster community engagement. Users can post, sort, and comment on recipes, creating an interactive and dynamic environment. This project highlights my focus on user experience and practical application development, showcasing my ability to design functional and appealing web platforms.
      </p>
    </div>
  </div>

  <div class="large-window">
    <div class="title-bar">
      <span>University of Memphis International GPA Converter</span>
      <div class="buttons">
        <div class="btn main-btn"></div>
        <div class="btn control-btn"></div>
        <div class="btn negative-btn"></div>
      </div>
    </div>
    <div class="content">
      <img src="/images/UofMGPACalculator.png" alt="Screenshot" class="project-image" %>
      <p class="project-description">
        This GPA converter was developed for the University of Memphis admissions team to streamline international student GPA conversions. It supports multiple grading scales and ensures accurate alignment with Memphis requirements. This project showcases my ability to tackle real-world problems with efficient backend logic and practical application.
      </p>
    </div>
  </div>

</div>
