<!-- /views/thanos.ejs -->
<body class="thanos-page">
    <div class="desktop-container">
        <!-- Thanos Window 1 -->
        <div class="thanos-window">
            <div class="title-bar">
                <span>I'M SORRY BOYY</span>
                <div class="buttons">
                    <div class="btn main-btn"></div>
                    <div class="btn control-btn"></div>
                    <div class="btn negative-btn"></div>
                  </div>
            </div>
            <div class="content">
                <img id="thanos-image-1" src="/images/thanos1.png" alt="Thanos 1" class="thanos-image">
            </div>
        </div>

        <!-- Thanos Window 2 -->
        <div class="thanos-window">
            <div class="title-bar">
                <span>I'M A LEGEND</span>
                <div class="buttons">
                  <div class="btn main-btn"></div>
                  <div class="btn control-btn"></div>
                  <div class="btn negative-btn"></div>
                </div>
              </div>
            <div class="content">
                <img id="thanos-image-2" src="/images/thanos.png" alt="Thanos 2" class="thanos-image">
            </div>
        </div>

        <!-- Thanos Window 3 -->
        <div class="thanos-window">
            <div class="title-bar">
                <span>I LIKE YOU</span>
                <div class="buttons">
                    <div class="btn main-btn"></div>
                    <div class="btn control-btn"></div>
                    <div class="btn negative-btn"></div>
                  </div>
            </div>
            <div class="content">
                <img id="thanos-image-3" src="/images/thanos2.gif" alt="Thanos 3" class="thanos-image">
            </div>
        </div>
    </div>

    <audio id="intro-sound" autoplay>
        <source src="/welcome.mp3" type="audio/mpeg">
    </audio>

    <!-- Sound Effect -->
    <audio id="boing-sound">
        <source src="/boing.wav" type="audio/mpeg">
    </audio>
</body>
